.flowContent{
  position: absolute;  left: 0px;  top: 0px;  width: 0px;  height: 0px;  overflow: hidden;
  border: none;
}

.flowTOPBorder{
  position: absolute; left: 0px; top: -5px; width: 100%; height: 1px; border: ridge 3px #ccc;
  border-left: none; border-right: none; border-top: none; cursor: pointer;
}

.flowLEFTBorder{
  position: absolute; left: 0px; top: 0px; width: 1px; height: 100%; border: ridge 3px #ccc;
  border-top: none; border-right: none; border-bottom: none;
}

.flowBOTTOMBorder{
  position: absolute; left: 0px; bottom: 0px; width: 100%; height: 1px; border: ridge 3px #ccc;
  border-left: none; border-right: none; border-top: none;  cursor: n-resize;
}

.flowRIGHTBorder{
  position: absolute; right: 0px; top: 0px; width: 1px; height: 100%; border: ridge 3px #ccc;
  border-top: none; border-right: none; border-bottom: none;  cursor: e-resize;
} 

.flowBOTHBorder{
  position: absolute; left: 0px; top: 0px; width: 3px; height: 3px; border: ridge 3px #ccc;
  cursor: nw-resize; border-left: none; border-top: none;
} 

.flowTabPane{
  position: absolute;  left: 0px;  top: 0px;  width: 100%;  overflow: hidden;
  background-image: url("./img/top.png");  background-repeat: repeat-x; cursor: move;
  padding: 5px;  background: #49627E; border-right: none; border-bottom: none;  border: ridge 3px #ccc;
}

.flowTabPane .tbIcon{
  background-image: url("./img/top.png");  background-repeat: repeat-x; cursor: move;
}

.flowTabPane .tbTitle{
  position: absolute; left: 30px;  font: sans-serif; font-size: 15px;  color: white;
}

.flowTabPane .tbCLS{
  cursor: pointer;  position: absolute; right: 20px;
}

.flowTabPane .tbMAX{
  cursor: pointer;  position: absolute; right: 40px;
}

.flowTabPane .tbMIN{
  cursor: pointer;  position: absolute; right: 60px;
}

.flowMainContent{
  position: absolute;  left: 0px;  top: 34px;  width: 100%;  height: 100%;  overflow: hidden;
  border:none;
}

.flowMainContent .flowIframse{
  position: absolute; left: 0px; top: 0px; height: 100%; width: 100%;
}